<!---
<h1>Propiedades</h1>
<button [disabled]="btnDisable" >Enviar</button>
<input type="text" [value]="name"/>
<progress max="100" [value]="age"></progress>
<img width="100" [src]="img">

<hr/>
<h1>Hola Mundo</h1>

<h2>{{'Hola Mundo - '.repeat(5)}}</h2>

<p>3 + 3 = {{ 3 + 3 }}</p>

<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt= "image">
-->

<body >

<style>
  body {
    background-color: rgb(15, 97, 70);
  }
</style>


<h1>*Hello World*</h1>

<h2>{{'Página Prueba - '.repeat(2)}}</h2>

<p>3 + 3 = {{ 3 + 3 }}</p>

<h3>Hola, soy {{ name }} y tengo {{ age }} años.</h3>

<img src={{img}} alt= "image">
<hr/>

<h1>**Propiedades**</h1>

<button [disabled]="btnDisable" >Enviar</button>

<input type="text" [value]="persona.name"/>
<progress max="100" [value]="persona.age"></progress>
<img width="100" [src]="persona.avatar">
<hr/>


<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis cupiditate molestiae, obcaecati in laborum laboriosam? Voluptas et officia asperiores atque facere quisquam cum hic beatae? Provident ut architecto illum?</p>
</div>
<p>Nombre: {{persona.name}}</p>
<input type="text" [value]="persona.name" (keyup)="changeName($event)"/>
<hr/>


<h1>***Eventos***</h1>

<button [disabled]="btnDisable" >Enviar</button>
<button (click)= "toggleButton()">Toggle Button</button>

<p>Edad {{persona.age}}</p>
<button (click)= "increaseAge()">Incrementar Edad</button>
<hr/>


<h1>****NgModel****</h1>
<p>Nombre: {{ persona.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="persona.name"/>
<p>Valid: {{ nameInput.valid }}</p>

<p>Age: {{ persona.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="persona.age"/>
<p>Valid: {{ ageInput.valid }}</p>
<hr/>


<h1>*****ngIf*****</h1>
<input type="text" required [(ngModel)]="persona.name"/>
<!-- validamos la igualdad entre el campo y una cadena, si es true, que ejecute el parrafo -->
<!-- tambien validamos la edad, que sea igual a 18 -->
<p *ngIf="persona.name == 'Cristian'"> Soy Cristian</p>
<!-- para hacer el else tenemos que agregarle a el 'p' un '; else' al final de la validacion
y el nombre del template a ejecutar tal cual se muestra a continuacion -->
<p *ngIf="persona.name == 'Julian' $$ persona.age == 18; else MyBlock"> Soy Julian</p>

<!-- este seria el bloque que se ejecutaria en caso de no ser true -->
<ng-template #MyBlock>
  <!-- El nombre del bloque else puede ser cualquiera seguido por signo '#' -->
  <p>Bloque de else</p>
</ng-template>
<hr/>


<h1>******ngFor******</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length == 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

